<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Proyecto_IA_2017_01/src/gui/Proyecto_IA_2017_01.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gui.Proyecto_IA_2017_01"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Proyecto_IA_2017_01"/>
</launchConfiguration>
